# Python
__pycache__/
*.py[cod]
*$py.class
.pytest_cache/

# Virtual Environments
background/py/
background/myenv/
background/.pytest_cache/
background/.vscode/

# IDE / VS Code
.vscode/

# PyInstaller / Executable Builds
game/build/
game/dist/
game/main/
game/main.spec

# Unrelated project files
game/demo/

# Operating System Files
.DS_Store
Thumbs.db
